[submodule "test/jquery"]
	path = test/jquery
	url = git@github.com:jquery/jquery.git
[submodule "test/jquery-migrate"]
	path = test/jquery-migrate
	url = git@github.com:jquery/jquery-migrate.git
[submodule "test/jquery-ui"]
	path = test/jquery-ui
	url = git@github.com:jquery/jquery-ui.git
[submodule "test/jquery-mousewheel"]
	path = test/jquery-mousewheel
	url = git@github.com:jquery/jquery-mousewheel.git
[submodule "test/jquery-color"]
	path = test/jquery-color
	url = git@github.com:jquery/jquery-color.git
